In [ ]:
pip install sqlalchemy psycopg3-binary ipython-sql

:

In [1]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [33]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [3]:
%sql postgresql://postgres:health_insurance@localhost:5432/health_insurance

In [ ]:
%%sql

SET datestyle TO 'ISO, DMY';

CREATE TABLE "Customers" (
  "customer_id" varchar,
  "first_name" varchar,
  "last_name" varchar,
  "state" varchar,
  "first_touch" varchar,
  "signup_channel_category" varchar,
  "plan" varchar,
  "signup_channel" varchar,
  "signup_date" date,
  "campaign_id" varchar
);

In [ ]:
%%sql

Copy "Customers" (
  "customer_id",
  "first_name",
  "last_name",
  "state",
  "first_touch",
  "signup_channel_category",
  "plan",
  "signup_channel",
  "signup_date",
  "campaign_id"
)
FROM '/Users/tshmacm1171/Desktop/Health_Insurance/customers.csv'
DELIMITER ','
CSV HEADER

In [ ]:
%%sql

SET datestyle TO 'ISO, DMY'

CREATE TABLE "Claims" (
  "customer_id" varchar,
  "claim_id" varchar,
  "claim_date" date,
  "product_name" varchar,
  "purchase_page_ref" varchar,
  "claim_amount" float,
  "covered_amount" float
);

In [ ]:
%%sql

Copy "Claims" (
  "customer_id",
  "claim_id",
  "claim_date",
  "product_name",
  "purchase_page_ref",
  "claim_amount",
  "covered_amount"
)
FROM '/Users/tshmacm1171/Desktop/Health_Insurance/claims.csv'
DELIMITER ','
CSV HEADER

In [ ]:
%%sql

CREATE TABLE "Campaigns" (
  "campaign_id" varchar,
  "campaign_category" varchar,
  "campaign_type" varcahr,
  "cost" float,
  "platform" varchar,
  "impressions" int,
  "clicks" int,
  "days_run" int
);

In [ ]:
%%sql

Copy "Campaigns" (
  "campaign_id",
  "campaign_category",
  "campaign_type",
  "cost",
  "platform",
  "impressions",
  "clicks",
  "days_run"
)
FROM '/Users/tshmacm1171/Desktop/Health_Insurance/campaigns.csv'
DELIMITER ','
CSV HEADER

In [38]:
%%sql
INSERT INTO "country" ("country")
SELECT DISTINCT "country"
FROM accident_analysis
WHERE "country" NOT IN (SELECT "country" FROM "country");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [39]:
%%sql
INSERT INTO "state" ("state", "country_id")
SELECT DISTINCT "state", 
       (SELECT "country_id" FROM "country" WHERE "country" = aa."country")
FROM accident_analysis aa
WHERE "state" NOT IN (SELECT "state" FROM "state")
AND EXISTS (SELECT 1 FROM "country" WHERE "country" = aa."country");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [40]:
%%sql
INSERT INTO "postcode" ("postcode")
SELECT DISTINCT "postcode"
FROM accident_analysis
WHERE "postcode" NOT IN (SELECT "postcode" FROM "postcode");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [41]:
%%sql
INSERT INTO "state_postcode_map" ("state_id", "postcode_id")
SELECT DISTINCT s."state_id", p."postcode_id"
FROM accident_analysis aa
JOIN "state" s 
  ON s."state" = aa."state"
JOIN "postcode" p 
  ON p."postcode" = aa."postcode"
LEFT JOIN "state_postcode_map" spm
  ON spm."state_id" = s."state_id" 
     AND spm."postcode_id" = p."postcode_id"
WHERE spm."state_id" IS NULL;

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [42]:
%%sql

INSERT INTO "first_road" ("first_road_class", "first_road_number")
SELECT DISTINCT "first_road_class", "first_road_number"
FROM "accident_analysis"
WHERE ("first_road_class", "first_road_number") NOT IN (
  SELECT "first_road_class", "first_road_number"
  FROM "first_road"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [43]:
%%sql

INSERT INTO "second_road" ("second_road_class", "second_road_number")
SELECT DISTINCT "second_road_class", "second_road_number"
FROM "accident_analysis"
WHERE ("second_road_class", "second_road_number") NOT IN (
  SELECT "second_road_class", "second_road_number"
  FROM "second_road"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [44]:
%%sql

INSERT INTO "road_map" ("first_road_id", "second_road_id")
SELECT DISTINCT
  fr."first_road_id", 
  sr."second_road_id"
FROM accident_analysis aa
JOIN "first_road" fr 
  ON fr."first_road_class" = aa."first_road_class" 
  AND fr."first_road_number" = aa."first_road_number"
JOIN "second_road" sr 
  ON sr."second_road_class" = aa."second_road_class" 
  AND sr."second_road_number" = aa."second_road_number"
WHERE NOT EXISTS (
    SELECT 1 FROM "road_map" rm
    WHERE rm."first_road_id" = fr."first_road_id"
      AND rm."second_road_id" = sr."second_road_id"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [45]:
%%sql

INSERT INTO "enforcement_district" ("local_authority_district")
SELECT DISTINCT "local_authority_district"
FROM accident_analysis
WHERE "local_authority_district" NOT IN 
    (SELECT "local_authority_district" FROM "enforcement_district");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [46]:
%%sql

INSERT INTO "enforcement_highway" ("local_authority_highway")
SELECT DISTINCT "local_authority_highway"
FROM accident_analysis
WHERE "local_authority_highway" NOT IN 
    (SELECT "local_authority_highway" FROM "enforcement_highway");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [47]:
%%sql

INSERT INTO "enforcement_map" ("local_authority_district_id", "local_authority_highway_id")
SELECT DISTINCT ed."local_authority_district_id", eh."local_authority_highway_id"
FROM accident_analysis aa
JOIN "enforcement_district" ed 
  ON ed."local_authority_district" = aa."local_authority_district"
JOIN "enforcement_highway" eh 
  ON eh."local_authority_highway" = aa."local_authority_highway"
LEFT JOIN "enforcement_map" em
  ON em."local_authority_district_id" = ed."local_authority_district_id"
     AND em."local_authority_highway_id" = eh."local_authority_highway_id"
WHERE em."local_authority_district_id" IS NULL;

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [48]:
%%sql
INSERT INTO "road_type" ("road_type")
SELECT DISTINCT "road_type"
FROM accident_analysis
WHERE "road_type" NOT IN (SELECT "road_type" FROM "road_type");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [49]:
%%sql
INSERT INTO "speed_limit" ("speed_limit")
SELECT DISTINCT "speed_limit"
FROM accident_analysis
WHERE "speed_limit" NOT IN (SELECT "speed_limit" FROM "speed_limit");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [50]:
%%sql
INSERT INTO "pedestrian_crossing_hc" ("pedestrian_crossing_human_control")
SELECT DISTINCT "pedestrian_crossing_human_control"
FROM accident_analysis
WHERE "pedestrian_crossing_human_control" NOT IN (SELECT "pedestrian_crossing_human_control" FROM "pedestrian_crossing_hc");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [51]:
%%sql

INSERT INTO "pedestrian_crossing_pf" ("pedestrian_crossing_physical_facilities")
SELECT DISTINCT "pedestrian_crossing_physical_facilities"
FROM accident_analysis
WHERE "pedestrian_crossing_physical_facilities" NOT IN (SELECT "pedestrian_crossing_physical_facilities" FROM "pedestrian_crossing_pf");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [52]:
%%sql

INSERT INTO "light_conditions" ("light_conditions")
SELECT DISTINCT "light_conditions"
FROM accident_analysis
WHERE "light_conditions" NOT IN (SELECT "light_conditions" FROM "light_conditions");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [53]:
%%sql

INSERT INTO "weather_conditions" ("weather_conditions")
SELECT DISTINCT "weather_conditions"
FROM accident_analysis
WHERE "weather_conditions" NOT IN (SELECT "weather_conditions" FROM "weather_conditions");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [54]:
%%sql
INSERT INTO "road_surface_conditions" ("road_surface_conditions")
SELECT DISTINCT "road_surface_conditions"
FROM accident_analysis
WHERE "road_surface_conditions" NOT IN (SELECT "road_surface_conditions" FROM "road_surface_conditions");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [55]:
%%sql
INSERT INTO "special_conditions_at_site" ("special_conditions_at_site")
SELECT DISTINCT "special_conditions_at_site"
FROM accident_analysis
WHERE "special_conditions_at_site" NOT IN (SELECT "special_conditions_at_site" FROM "special_conditions_at_site");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [56]:
%%sql
INSERT INTO "carriageway_hazards" ("carriageway_hazards")
SELECT DISTINCT "carriageway_hazards"
FROM accident_analysis
WHERE "carriageway_hazards" NOT IN (SELECT "carriageway_hazards" FROM "carriageway_hazards");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [57]:
%%sql
INSERT INTO "urban_rural_area" ("urban_rural_area")
SELECT DISTINCT "urban_rural_area"
FROM accident_analysis
WHERE "urban_rural_area" NOT IN (SELECT "urban_rural_area" FROM "urban_rural_area");

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [58]:
%%sql
INSERT INTO "accidents" (
  "accident_id", 
  "number_of_vehicles", 
  "number_of_casualties", 
  "date", 
  "time", 
  "day_of_week", 
  "police_present_at_scene", 
  "police_force", 
  "postcode_id", 
  "pedestrian_crossing_human_control_id", 
  "pedestrian_crossing_physical_facilities_id", 
  "light_conditions_id", 
  "weather_conditions_id", 
  "road_surface_conditions_id", 
  "special_conditions_at_site_id", 
  "carriageway_hazards_id", 
  "urban_rural_area_id", 
  "first_road_id", 
  "local_authority_highway_id", 
  "speed_limit_id", 
  "road_type_id"
)
SELECT 
  aa."accident_id", 
  aa."number_of_vehicles", 
  aa."number_of_casualties", 
  aa."date", 
  aa."time", 
  aa."day_of_week", 
  aa."police_present_at_scene", 
  aa."police_force", 
  p."postcode_id",
  pchc."pedestrian_crossing_human_control_id",
  pcpf."pedestrian_crossing_physical_facilities_id",
  lc."light_conditions_id",
  wc."weather_conditions_id",
  rsc."road_surface_conditions_id",
  scs."special_conditions_at_site_id",
  ch."carriageway_hazards_id",
  ura."urban_rural_area_id",
  fr."first_road_id",
  eh."local_authority_highway_id",
  sl."speed_limit_id",
  rt."road_type_id"
FROM accident_analysis aa
JOIN "first_road" fr 
  ON fr."first_road_class" = aa."first_road_class" 
  AND fr."first_road_number" = aa."first_road_number"
LEFT JOIN "postcode" p 
  ON p."postcode" = aa."postcode"
LEFT JOIN "pedestrian_crossing_hc" pchc 
  ON pchc."pedestrian_crossing_human_control" = aa."pedestrian_crossing_human_control"
LEFT JOIN "pedestrian_crossing_pf" pcpf 
  ON pcpf."pedestrian_crossing_physical_facilities" = aa."pedestrian_crossing_physical_facilities"
LEFT JOIN "light_conditions" lc 
  ON lc."light_conditions" = aa."light_conditions"
LEFT JOIN "weather_conditions" wc 
  ON wc."weather_conditions" = aa."weather_conditions"
LEFT JOIN "road_surface_conditions" rsc 
  ON rsc."road_surface_conditions" = aa."road_surface_conditions"
LEFT JOIN "special_conditions_at_site" scs 
  ON scs."special_conditions_at_site" = aa."special_conditions_at_site"
LEFT JOIN "carriageway_hazards" ch 
  ON ch."carriageway_hazards" = aa."carriageway_hazards"
LEFT JOIN "urban_rural_area" ura 
  ON ura."urban_rural_area" = aa."urban_rural_area"
LEFT JOIN "enforcement_highway" eh 
  ON eh."local_authority_highway" = aa."local_authority_highway"
LEFT JOIN "speed_limit" sl 
  ON sl."speed_limit" = aa."speed_limit"
LEFT JOIN "road_type" rt 
  ON rt."road_type" = aa."road_type"
LEFT JOIN "accidents" a 
  ON a."accident_id" = aa."accident_id"
WHERE a."accident_id" IS NULL

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

1. What are the peak hours and non peak hours when accidents occur the most?

In [7]:
%%sql


SELECT 
    EXTRACT(HOUR FROM time) AS Hour,
    AVG(accident_id) AS AVG_Accidents
FROM accidents
GROUP BY Hour
ORDER BY AVG_Accidents DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/accident_analysis
5 rows affected.

[(Decimal('6'), Decimal('302118.212626995646')),
 (Decimal('16'), Decimal('301603.108518945998')),
 (Decimal('17'), Decimal('301445.607220315717')),
 (Decimal('0'), Decimal('301319.045337695723')),
 (Decimal('21'), Decimal('301264.979556756093'))]

In [8]:
%%sql

SELECT 
    EXTRACT(HOUR FROM time) AS Hour,
    AVG(accident_id) AS AVG_Accidents
FROM accidents
GROUP BY Hour
ORDER BY AVG_Accidents ASC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/accident_analysis
5 rows affected.

[(None, Decimal('289411.357142857143')),
 (Decimal('4'), Decimal('295201.923363095238')),
 (Decimal('3'), Decimal('295513.164829659319')),
 (Decimal('1'), Decimal('295973.406094733355')),
 (Decimal('20'), Decimal('297046.708844106919'))]

Months affected by peak hours and conditions associated with that month

In [51]:
%%sql

WITH MonthlyAvg AS (
    SELECT 
        EXTRACT(MONTH FROM date) AS month,
        AVG(accident_id) AS avg_accidents
    FROM accidents
    WHERE EXTRACT(HOUR FROM time) = 6
    GROUP BY month
    ORDER BY avg_accidents DESC
    LIMIT 1
),
CommonConditions AS (
    SELECT 
        a.weather_conditions_id,
        w.weather_conditions,
        COUNT(*) AS weather_count,
        a.road_surface_conditions_id,
        r.road_surface_conditions,
        COUNT(*) AS road_surface_count,
        a.light_conditions_id,
        l.light_conditions,
        COUNT(*) AS light_count,
        a.speed_limit_id,
        s.speed_limit,
        COUNT(*) AS speed_count,
        a.pedestrian_crossing_human_control_id,
        phc.pedestrian_crossing_human_control,
        COUNT(*) AS pedestrian_hc_count,
        a.pedestrian_crossing_physical_facilities_id,
        ppf.pedestrian_crossing_physical_facilities,
        COUNT(*) AS pedestrian_pf_count,
        a.road_type_id,
        rt.road_type,
        COUNT(*) AS road_type_count
    FROM accidents a
    JOIN weather_conditions w ON a.weather_conditions_id = w.weather_conditions_id
    JOIN road_surface_conditions r ON a.road_surface_conditions_id = r.road_surface_conditions_id
    JOIN light_conditions l ON a.light_conditions_id = l.light_conditions_id
    JOIN speed_limit s ON a.speed_limit_id = s.speed_limit_id
    JOIN pedestrian_crossing_hc phc ON a.pedestrian_crossing_human_control_id = phc.pedestrian_crossing_human_control_id
    JOIN pedestrian_crossing_pf ppf ON a.pedestrian_crossing_physical_facilities_id = ppf.pedestrian_crossing_physical_facilities_id
    JOIN road_type rt ON a.road_type_id = rt.road_type_id
    WHERE EXTRACT(MONTH FROM a.date) = (SELECT month FROM MonthlyAvg)
      AND EXTRACT(HOUR FROM a.time) = 6
    GROUP BY 
        a.weather_conditions_id, w.weather_conditions,
        a.road_surface_conditions_id, r.road_surface_conditions,
        a.light_conditions_id, l.light_conditions,
        a.speed_limit_id, s.speed_limit,
        a.pedestrian_crossing_human_control_id, phc.pedestrian_crossing_human_control,
        a.pedestrian_crossing_physical_facilities_id, ppf.pedestrian_crossing_physical_facilities,
        a.road_type_id, rt.road_type
)
SELECT 
    (SELECT month FROM MonthlyAvg) AS month_with_most_avg_accidents,
    (SELECT avg_accidents FROM MonthlyAvg) AS avg_accidents_at_6am,
    weather_conditions AS most_common_weather_condition,
    road_surface_conditions AS most_common_road_surface_condition,
    light_conditions AS most_common_light_condition,
    speed_limit AS most_common_speed_limit,
    pedestrian_crossing_human_control AS most_common_pedestrian_hc,
    pedestrian_crossing_physical_facilities AS most_common_pedestrian_pf,
    road_type AS most_common_road_type
FROM CommonConditions
ORDER BY 
    weather_count DESC, 
    road_surface_count DESC, 
    light_count DESC, 
    speed_count DESC, 
    pedestrian_hc_count DESC, 
    pedestrian_pf_count DESC,
    road_type_count DESC
LIMIT 3;

 * postgresql://postgres:***@localhost:5432/accident_analysis
3 rows affected.

[(Decimal('10'), Decimal('316131.259668508287'), 'Fine without high winds', 'Dry', 'Daylight: Street light present', 30, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway'),
 (Decimal('10'), Decimal('316131.259668508287'), 'Fine without high winds', 'Wet/Damp', 'Daylight: Street light present', 30, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway'),
 (Decimal('10'), Decimal('316131.259668508287'), 'Fine without high winds', 'Dry', 'Darkness: Street lights present and lit', 30, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway')]

In [52]:
%%sql

WITH MonthlyAvg AS (
    SELECT 
        EXTRACT(MONTH FROM date) AS month,
        AVG(accident_id) AS avg_accidents
    FROM accidents
    WHERE EXTRACT(HOUR FROM time) = 16
    GROUP BY month
    ORDER BY avg_accidents DESC
    LIMIT 1
),
CommonConditions AS (
    SELECT 
        a.weather_conditions_id,
        w.weather_conditions,
        COUNT(*) AS weather_count,
        a.road_surface_conditions_id,
        r.road_surface_conditions,
        COUNT(*) AS road_surface_count,
        a.light_conditions_id,
        l.light_conditions,
        COUNT(*) AS light_count,
        a.speed_limit_id,
        s.speed_limit,
        COUNT(*) AS speed_count,
        a.pedestrian_crossing_human_control_id,
        phc.pedestrian_crossing_human_control,
        COUNT(*) AS pedestrian_hc_count,
        a.pedestrian_crossing_physical_facilities_id,
        ppf.pedestrian_crossing_physical_facilities,
        COUNT(*) AS pedestrian_pf_count,
        a.road_type_id,
        rt.road_type,
        COUNT(*) AS road_type_count
    FROM accidents a
    JOIN weather_conditions w ON a.weather_conditions_id = w.weather_conditions_id
    JOIN road_surface_conditions r ON a.road_surface_conditions_id = r.road_surface_conditions_id
    JOIN light_conditions l ON a.light_conditions_id = l.light_conditions_id
    JOIN speed_limit s ON a.speed_limit_id = s.speed_limit_id
    JOIN pedestrian_crossing_hc phc ON a.pedestrian_crossing_human_control_id = phc.pedestrian_crossing_human_control_id
    JOIN pedestrian_crossing_pf ppf ON a.pedestrian_crossing_physical_facilities_id = ppf.pedestrian_crossing_physical_facilities_id
    JOIN road_type rt ON a.road_type_id = rt.road_type_id
    WHERE EXTRACT(MONTH FROM a.date) = (SELECT month FROM MonthlyAvg)
      AND EXTRACT(HOUR FROM a.time) = 16
    GROUP BY 
        a.weather_conditions_id, w.weather_conditions,
        a.road_surface_conditions_id, r.road_surface_conditions,
        a.light_conditions_id, l.light_conditions,
        a.speed_limit_id, s.speed_limit,
        a.pedestrian_crossing_human_control_id, phc.pedestrian_crossing_human_control,
        a.pedestrian_crossing_physical_facilities_id, ppf.pedestrian_crossing_physical_facilities,
        a.road_type_id, rt.road_type
)
SELECT 
    (SELECT month FROM MonthlyAvg) AS month_with_most_avg_accidents,
    (SELECT avg_accidents FROM MonthlyAvg) AS avg_accidents_at_16pm,
    weather_conditions AS most_common_weather_condition,
    road_surface_conditions AS most_common_road_surface_condition,
    light_conditions AS most_common_light_condition,
    speed_limit AS most_common_speed_limit,
    pedestrian_crossing_human_control AS most_common_pedestrian_hc,
    pedestrian_crossing_physical_facilities AS most_common_pedestrian_pf,
    road_type AS most_common_road_type
FROM CommonConditions
ORDER BY 
    weather_count DESC, 
    road_surface_count DESC, 
    light_count DESC, 
    speed_count DESC, 
    pedestrian_hc_count DESC, 
    pedestrian_pf_count DESC,
    road_type_count DESC
LIMIT 3;

 * postgresql://postgres:***@localhost:5432/accident_analysis
3 rows affected.

[(Decimal('9'), Decimal('306926.018667524944'), 'Fine without high winds', 'Dry', 'Daylight: Street light present', 30, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway'),
 (Decimal('9'), Decimal('306926.018667524944'), 'Fine without high winds', 'Wet/Damp', 'Daylight: Street light present', 30, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway'),
 (Decimal('9'), Decimal('306926.018667524944'), 'Fine without high winds', 'Dry', 'Daylight: Street light present', 60, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway')]

Months affected by non peak hours and conditions associated with that month

In [48]:
%%sql

WITH MonthlyAvg AS (
    SELECT 
        EXTRACT(MONTH FROM date) AS month,
        AVG(accident_id) AS avg_accidents
    FROM accidents
    WHERE EXTRACT(HOUR FROM time) = 4
    GROUP BY month
    ORDER BY avg_accidents ASC
    LIMIT 1
),
LeastCommonConditions AS (
    SELECT 
        a.weather_conditions_id,
        w.weather_conditions,
        COUNT(*) AS weather_count,
        a.road_surface_conditions_id,
        r.road_surface_conditions,
        COUNT(*) AS road_surface_count,
        a.light_conditions_id,
        l.light_conditions,
        COUNT(*) AS light_count,
        a.speed_limit_id,
        s.speed_limit,
        COUNT(*) AS speed_count,
        a.pedestrian_crossing_human_control_id,
        phc.pedestrian_crossing_human_control,
        COUNT(*) AS pedestrian_hc_count,
        a.pedestrian_crossing_physical_facilities_id,
        ppf.pedestrian_crossing_physical_facilities,
        COUNT(*) AS pedestrian_pf_count,
        a.road_type_id,
        rt.road_type,
        COUNT(*) AS road_type_count
    FROM accidents a
    JOIN weather_conditions w ON a.weather_conditions_id = w.weather_conditions_id
    JOIN road_surface_conditions r ON a.road_surface_conditions_id = r.road_surface_conditions_id
    JOIN light_conditions l ON a.light_conditions_id = l.light_conditions_id
    JOIN speed_limit s ON a.speed_limit_id = s.speed_limit_id
    JOIN pedestrian_crossing_hc phc ON a.pedestrian_crossing_human_control_id = phc.pedestrian_crossing_human_control_id
    JOIN pedestrian_crossing_pf ppf ON a.pedestrian_crossing_physical_facilities_id = ppf.pedestrian_crossing_physical_facilities_id
    JOIN road_type rt ON a.road_type_id = rt.road_type_id
    WHERE EXTRACT(MONTH FROM a.date) = (SELECT month FROM MonthlyAvg)
      AND EXTRACT(HOUR FROM a.time) = 4
    GROUP BY 
        a.weather_conditions_id, w.weather_conditions,
        a.road_surface_conditions_id, r.road_surface_conditions,
        a.light_conditions_id, l.light_conditions,
        a.speed_limit_id, s.speed_limit,
        a.pedestrian_crossing_human_control_id, phc.pedestrian_crossing_human_control,
        a.pedestrian_crossing_physical_facilities_id, ppf.pedestrian_crossing_physical_facilities,
        a.road_type_id, rt.road_type
)
SELECT 
    (SELECT month FROM MonthlyAvg) AS month_with_least_avg_accidents,
    (SELECT avg_accidents FROM MonthlyAvg) AS avg_accidents_at_4am,
    weather_conditions AS least_common_weather_condition,
    road_surface_conditions AS least_common_road_surface_condition,
    light_conditions AS least_common_light_condition,
    speed_limit AS least_common_speed_limit,
    pedestrian_crossing_human_control AS least_common_pedestrian_hc,
    pedestrian_crossing_physical_facilities AS least_common_pedestrian_pf,
    road_type AS least_common_road_type
FROM LeastCommonConditions
ORDER BY 
    weather_count ASC, 
    road_surface_count ASC, 
    light_count ASC, 
    speed_count ASC, 
    pedestrian_hc_count ASC, 
    pedestrian_pf_count ASC,
    road_type_count ASC
LIMIT 3;

 * postgresql://postgres:***@localhost:5432/accident_analysis
3 rows affected.

[(Decimal('9'), Decimal('277159.852941176471'), 'Raining without high winds', 'Dry', 'Daylight: Street light present', 30, 'Control by other authorised person', 'No physical crossing within 50 meters', 'Single carriageway'),
 (Decimal('9'), Decimal('277159.852941176471'), 'Raining without high winds', 'Dry', 'Daylight: Street light present', 30, 'None within 50 metres', 'Zebra crossing', 'Single carriageway'),
 (Decimal('9'), Decimal('277159.852941176471'), 'Fine with high winds', 'Dry', 'Daylight: Street light present', 40, 'None within 50 metres', 'No physical crossing within 50 meters', 'Dual carriageway')]

In [53]:
%%sql

WITH MonthlyAvg AS (
    SELECT 
        EXTRACT(MONTH FROM date) AS month,
        AVG(accident_id) AS avg_accidents 
    FROM accidents
    WHERE EXTRACT(HOUR FROM time) = 3
    GROUP BY month
    ORDER BY avg_accidents ASC
    LIMIT 1
),
LeastCommonConditions AS (
    SELECT 
        a.weather_conditions_id,
        w.weather_conditions,
        COUNT(*) AS weather_count,
        a.road_surface_conditions_id,
        r.road_surface_conditions,
        COUNT(*) AS road_surface_count,
        a.light_conditions_id,
        l.light_conditions,
        COUNT(*) AS light_count,
        a.speed_limit_id,
        s.speed_limit,
        COUNT(*) AS speed_count,
        a.pedestrian_crossing_human_control_id,
        phc.pedestrian_crossing_human_control,
        COUNT(*) AS pedestrian_hc_count,
        a.pedestrian_crossing_physical_facilities_id,
        ppf.pedestrian_crossing_physical_facilities,
        COUNT(*) AS pedestrian_pf_count,
        a.road_type_id,
        rt.road_type,
        COUNT(*) AS road_type_count
    FROM accidents a
    JOIN weather_conditions w ON a.weather_conditions_id = w.weather_conditions_id
    JOIN road_surface_conditions r ON a.road_surface_conditions_id = r.road_surface_conditions_id
    JOIN light_conditions l ON a.light_conditions_id = l.light_conditions_id
    JOIN speed_limit s ON a.speed_limit_id = s.speed_limit_id
    JOIN pedestrian_crossing_hc phc ON a.pedestrian_crossing_human_control_id = phc.pedestrian_crossing_human_control_id
    JOIN pedestrian_crossing_pf ppf ON a.pedestrian_crossing_physical_facilities_id = ppf.pedestrian_crossing_physical_facilities_id
    JOIN road_type rt ON a.road_type_id = rt.road_type_id
    WHERE EXTRACT(MONTH FROM a.date) = (SELECT month FROM MonthlyAvg)
      AND EXTRACT(HOUR FROM a.time) = 3
    GROUP BY 
        a.weather_conditions_id, w.weather_conditions,
        a.road_surface_conditions_id, r.road_surface_conditions,
        a.light_conditions_id, l.light_conditions,
        a.speed_limit_id, s.speed_limit,
        a.pedestrian_crossing_human_control_id, phc.pedestrian_crossing_human_control,
        a.pedestrian_crossing_physical_facilities_id, ppf.pedestrian_crossing_physical_facilities,
        a.road_type_id, rt.road_type
)
SELECT 
    (SELECT month FROM MonthlyAvg) AS month_with_least_avg_accidents,
    (SELECT avg_accidents FROM MonthlyAvg) AS avg_accidents_at_3am,
    weather_conditions AS least_common_weather_condition,
    road_surface_conditions AS least_common_road_surface_condition,
    light_conditions AS least_common_light_condition,
    speed_limit AS least_common_speed_limit,
    pedestrian_crossing_human_control AS least_common_pedestrian_hc,
    pedestrian_crossing_physical_facilities AS least_common_pedestrian_pf,
    road_type AS least_common_road_type
FROM LeastCommonConditions
ORDER BY 
    weather_count ASC, 
    road_surface_count ASC, 
    light_count ASC, 
    speed_count ASC, 
    pedestrian_hc_count ASC, 
    pedestrian_pf_count ASC,
    road_type_count ASC
LIMIT 3;

 * postgresql://postgres:***@localhost:5432/accident_analysis
3 rows affected.

[(Decimal('7'), Decimal('266463.918918918919'), 'Fine with high winds', 'Dry', 'Daylight: Street light present', 30, 'None within 50 metres', 'non-junction pedestrian crossing', 'Single carriageway'),
 (Decimal('7'), Decimal('266463.918918918919'), 'Fine with high winds', 'Dry', 'Daylight: Street light present', 60, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway'),
 (Decimal('7'), Decimal('266463.918918918919'), 'Fine with high winds', 'Snow', 'Daylight: Street light present', 60, 'None within 50 metres', 'No physical crossing within 50 meters', 'Single carriageway')]