In [1]:
pip install sqlalchemy psycopg3-binary ipython-sql

Requirement already satisfied: sqlalchemy in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (2.0.36)
ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:health_insurance@localhost:5432/health_insurance

In [6]:
%%sql

SET datestyle = 'MDY';

CREATE TABLE "Main_Customers" (
  "customer_id" varchar,
  "first_name" varchar,
  "last_name" varchar,
  "state" varchar,
  "first_touch" varchar,
  "signup_channel_category" varchar,
  "plan" varchar,
  "signup_channel" varchar,
  "signup_date" date,
  "campaign_id" varchar
);

 * postgresql://postgres:***@localhost:5432/health_insurance
Done.
Done.

[]

In [7]:
%%sql

Copy "Main_Customers" (
  "customer_id",
  "first_name",
  "last_name",
  "state",
  "first_touch",
  "signup_channel_category",
  "plan",
  "signup_channel",
  "signup_date",
  "campaign_id"
)
FROM '/Users/shirleymalefane/Desktop/Health_Insurance/Cleaned Dataset/Main_Cleaned_Customers.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/health_insurance
16338 rows affected.

[]

In [8]:
%%sql

SET datestyle = 'MDY';

CREATE TABLE "Main_Claims" (
  "customer_id" varchar,
  "claim_id" varchar,
  "claim_date" date,
  "product_name" varchar,
  "purchase_page_ref" varchar,
  "claim_amount" float,
  "covered_amount" float
);

 * postgresql://postgres:***@localhost:5432/health_insurance
Done.
Done.

[]

In [9]:
%%sql

Copy "Main_Claims" (
  "customer_id",
  "claim_id",
  "claim_date",
  "product_name",
  "purchase_page_ref",
  "claim_amount",
  "covered_amount"
)
FROM '/Users/shirleymalefane/Desktop/Health_Insurance/Cleaned Dataset/Main_Cleaned_Claims.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/health_insurance
49998 rows affected.

[]

In [10]:
%%sql

CREATE TABLE "Main_Campaigns" (
  "campaign_id" varchar,
  "campaign_category" varchar,
  "campaign_type" varchar,
  "platform" varchar,
  "campaign_detail" varchar,
  "days_run" int,
  "cost" float,
  "impressions" int,
  "clicks" float,
  "num_signups" float,
  "signup_rate" float,
  "cost_per_signup" float,
  "click_through_rate" float,
  "cost_per_click" float
);

 * postgresql://postgres:***@localhost:5432/health_insurance
Done.

[]

In [11]:
%%sql

Copy "Main_Campaigns" (
  "campaign_id",
  "campaign_category",
  "campaign_type",
  "platform",
  "campaign_detail",
  "days_run",
  "cost",
  "impressions",
  "clicks",
  "num_signups",
  "signup_rate",
  "cost_per_signup",
  "click_through_rate",
  "cost_per_click"
)
FROM '/Users/shirleymalefane/Desktop/Health_Insurance/Cleaned Dataset/Main_Cleaned_Campaigns.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/health_insurance
57 rows affected.

[]

In [12]:
%%sql
INSERT INTO "Campaign_category" ("campaign_category")
SELECT DISTINCT "campaign_category"
FROM "Main_Campaigns"
WHERE ("campaign_category") NOT IN (
  SELECT "campaign_category"
  FROM "Campaign_category"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
12 rows affected.

[]

In [13]:
%%sql

INSERT INTO "Campaign_detail" ("campaign_detail")
SELECT DISTINCT "campaign_detail"
FROM "Main_Campaigns"
WHERE "campaign_detail" NOT IN (
  SELECT "campaign_detail"
  FROM "Campaign_detail"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
42 rows affected.

[]

In [14]:
%%sql
INSERT INTO "Campaign_type" ("campaign_type")
SELECT DISTINCT "campaign_type"
FROM "Main_Campaigns"
WHERE ("campaign_type") NOT IN (
  SELECT "campaign_type"
  FROM "Campaign_type"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
7 rows affected.

[]

In [15]:
%%sql

INSERT INTO "Campaign_map" ("campaign_category_id", "campaign_type_id")
SELECT 
    cc."campaign_category_id", 
    ct."campaign_type_id"
FROM "Main_Campaigns" c
JOIN "Campaign_category" cc ON c."campaign_category" = cc."campaign_category"
JOIN "Campaign_type" ct ON c."campaign_type" = ct."campaign_type"
WHERE 
    (cc."campaign_category_id", ct."campaign_type_id") NOT IN (
        SELECT "campaign_category_id", "campaign_type_id"
        FROM "Campaign_map"
    );

 * postgresql://postgres:***@localhost:5432/health_insurance
57 rows affected.

[]

In [16]:
%%sql
INSERT INTO "Platform" ("platform")
SELECT DISTINCT "platform"
FROM "Main_Campaigns"
WHERE ("platform") NOT IN (
    SELECT "platform"
    FROM "Platform"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
4 rows affected.

[]

In [17]:
%%sql
INSERT INTO "Products" ("product_name")
SELECT DISTINCT "product_name"
FROM "Main_Claims"
WHERE ("product_name") NOT IN (
    SELECT "product_name"
    FROM "Products"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
18 rows affected.

[]

In [18]:
%%sql

INSERT INTO "Purchase_page" ("purchase_page_ref")
SELECT DISTINCT "purchase_page_ref"
FROM "Main_Claims"
WHERE ("purchase_page_ref") NOT IN (
    SELECT "purchase_page_ref"
    FROM "Purchase_page"
)

 * postgresql://postgres:***@localhost:5432/health_insurance
17 rows affected.

[]

In [19]:
%%sql
INSERT INTO "State" ("state")
SELECT DISTINCT "state"
FROM "Main_Customers"
WHERE "state" NOT IN (
    SELECT "state"
    FROM "State"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
46 rows affected.

[]

In [20]:
%%sql
INSERT INTO "First_touch" ("first_touch")
SELECT DISTINCT "first_touch"
FROM "Main_Customers"
WHERE "first_touch" NOT IN (
    SELECT "first_touch"
    FROM "First_touch"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
5 rows affected.

[]

In [21]:
%%sql
INSERT INTO "Plan" ("plan")
SELECT DISTINCT "plan"
FROM "Main_Customers"
WHERE "plan" NOT IN (
    SELECT "plan"
    FROM "Plan"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
4 rows affected.

[]

In [22]:
%%sql

INSERT INTO "Signup_channel_category" ("signup_channel_category")
SELECT DISTINCT "signup_channel_category"
FROM "Main_Customers"
WHERE "signup_channel_category" NOT IN (
    SELECT "signup_channel_category"
    FROM "Signup_channel_category"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
2 rows affected.

[]

In [23]:
%%sql

INSERT INTO "Signup_channel" ("signup_channel", "signup_channel_category_id")
SELECT DISTINCT 
    c."signup_channel", 
    scc."signup_channel_category_id"
FROM 
    "Main_Customers" c
JOIN 
    "Signup_channel_category" scc ON c."signup_channel_category" = scc."signup_channel_category"
WHERE 
    c."signup_channel" IS NOT NULL
AND (c."signup_channel", scc."signup_channel_category_id") NOT IN (
    SELECT "signup_channel", "signup_channel_category_id"
    FROM "Signup_channel"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
15 rows affected.

[]

In [24]:
%%sql

INSERT INTO "Campaigns" (
    "campaign_id", "cost", "impressions", "clicks", "days_run", 
    "campaign_category_id", "campaign_detail_id", "platform_id", 
    "num_signups", "signup_rate", "cost_per_signup", 
    "click_through_rate", "cost_per_click"
)
SELECT DISTINCT 
    "m"."campaign_id", 
    "m"."cost", 
    "m"."impressions", 
    "m"."clicks", 
    "m"."days_run", 
    "cc"."campaign_category_id", 
    "cd"."campaign_detail_id",
    "p"."platform_id", 
    "m"."num_signups", 
    "m"."signup_rate", 
    "m"."cost_per_signup", 
    "m"."click_through_rate", 
    "m"."cost_per_click"
FROM "Main_Campaigns" "m"
LEFT JOIN "Campaign_category" "cc" 
    ON "m"."campaign_category" = "cc"."campaign_category"
LEFT JOIN "Campaign_detail" "cd" 
    ON "m"."campaign_detail" = "cd"."campaign_detail" 
LEFT JOIN "Platform" "p" 
    ON "m"."platform" = "p"."platform"
WHERE "m"."campaign_id" NOT IN (
    SELECT "campaign_id"
    FROM "Campaigns"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
57 rows affected.

[]

In [25]:
%%sql

INSERT INTO "Customers" (
    "customer_id", "first_name", "last_name", "signup_date", 
    "campaign_id", "state_id", "first_touch_id", "plan_id", 
    "signup_channel_id"
)
SELECT DISTINCT 
    "m"."customer_id", 
    "m"."first_name", 
    "m"."last_name", 
    "m"."signup_date", 
    CASE 
        WHEN "m"."campaign_id" = 'unknown' THEN NULL
        ELSE "m"."campaign_id" 
    END AS "campaign_id", 
    "s"."state_id",  
    "ft"."first_touch_id",  
    "p"."plan_id",  
    "sc"."signup_channel_id"
FROM "Main_Customers" "m"
LEFT JOIN "State" "s" ON "m"."state" = "s"."state"  
LEFT JOIN "First_touch" "ft" ON "m"."first_touch" = "ft"."first_touch"  
LEFT JOIN "Plan" "p" ON "m"."plan" = "p"."plan"  
LEFT JOIN "Signup_channel" "sc" ON "m"."signup_channel" = "sc"."signup_channel"
WHERE "m"."customer_id" NOT IN (
    SELECT "customer_id"
    FROM "Customers"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
16338 rows affected.

[]

In [26]:
%%sql

INSERT INTO "Claims" (
    "claim_id", "claim_date", "claim_amount", "covered_amount", 
    "product_id", "purchase_page_id", "customer_id"
)
SELECT DISTINCT 
    "m"."claim_id", 
    "m"."claim_date", 
    "m"."claim_amount", 
    "m"."covered_amount", 
    CASE
        WHEN "p"."product_id" IS NULL THEN NULL
        ELSE "p"."product_id"
    END AS "product_id", 
    CASE
        WHEN "m"."purchase_page_ref" = 'unknown' OR "m"."purchase_page_ref" IS NULL THEN NULL
        ELSE "pp"."purphase_page_id"
    END AS "purchase_page_id", 
    CASE
        WHEN "m"."customer_id" = 'unknown' OR "m"."customer_id" IS NULL THEN NULL
        ELSE "c"."customer_id"
    END AS "customer_id" 
FROM "Main_Claims" "m"
LEFT JOIN "Products" "p" ON "m"."product_name" = "p"."product_name"
LEFT JOIN "Purchase_page" "pp" ON "m"."purchase_page_ref" = "pp"."purchase_page_ref"
LEFT JOIN "Customers" "c" ON "m"."customer_id" = "c"."customer_id" 
WHERE "m"."claim_id" NOT IN (
    SELECT "claim_id"
    FROM "Claims"
);

 * postgresql://postgres:***@localhost:5432/health_insurance
49998 rows affected.

[]