In [ ]:
pip install sqlalchemy psycopg3-binary ipython-sql

:

In [1]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [33]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.15)
Requirement already satisfied: importlib-metadata in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from sqlalchemy>=2.0->ipython-sql) (6.0.0)
Requirement already satisfied: setuptools>=18.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (46.0.0.post20200309)
Requirement already satisfied: jedi>=0.10 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.14.1)
Requirement already satisfied: decorator in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.4.1)
Requirement already satisfied: pickleshare in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (3.0.3)
Requirement already satisfied: pygments in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: backcall in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: pexpect in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from ipython->ipython-sql) (0.1.0)
Requirement already satisfied: wcwidth in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython->ipython-sql) (0.5.2)
Requirement already satisfied: zipp>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy>=2.0->ipython-sql) (2.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/shirleymalefane/opt/anaconda3/lib/python3.7/site-packages (from pexpect->ipython->ipython-sql) (0.6.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%sql postgresql://postgres:health_insurance@localhost:5432/health_insurance

In [13]:
%%sql

SET datestyle = 'MDY';

CREATE TABLE "Main_Customers" (
  "customer_id" varchar,
  "first_name" varchar,
  "last_name" varchar,
  "state" varchar,
  "first_touch" varchar,
  "signup_channel_category" varchar,
  "plan" varchar,
  "signup_channel" varchar,
  "signup_date" date,
  "campaign_id" varchar
);

 * postgresql://postgres:***@localhost:5432/health_insurance
Done.
Done.

[]

In [14]:
%%sql

Copy "Main_Customers" (
  "customer_id",
  "first_name",
  "last_name",
  "state",
  "first_touch",
  "signup_channel_category",
  "plan",
  "signup_channel",
  "signup_date",
  "campaign_id"
)
FROM '/Users/tshmacm1171/Desktop/Health_Insurance/customers.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/health_insurance
16338 rows affected.

[]

In [15]:
%%sql

SET datestyle = 'MDY';

CREATE TABLE "Main_Claims" (
  "customer_id" varchar,
  "claim_id" varchar,
  "claim_date" date,
  "product_name" varchar,
  "purchase_page_ref" varchar,
  "claim_amount" float,
  "covered_amount" float
);

 * postgresql://postgres:***@localhost:5432/health_insurance
Done.
Done.

[]

In [16]:
%%sql

Copy "Main_Claims" (
  "customer_id",
  "claim_id",
  "claim_date",
  "product_name",
  "purchase_page_ref",
  "claim_amount",
  "covered_amount"
)
FROM '/Users/tshmacm1171/Desktop/Health_Insurance/claims.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/health_insurance
49998 rows affected.

[]

In [ ]:
%%sql

CREATE TABLE "Main_Campaigns" (
  "campaign_id" varchar,
  "campaign_category" varchar,
  "campaign_type" varchar,
  "platform" varchar,
  "campaign_deatil" varcchar,
  "cost" float,
  "impressions" int,
  "clicks" int,
  "days_run" int,
  "num_signups" int,
  "signup_rate" float,
  "cost_per_signup" float,
  "click_through_rate" float,
  "cost_per_click" float
);

 * postgresql://postgres:***@localhost:5432/health_insurance
Done.

[]

In [ ]:
%%sql

Copy "Main_Campaigns" (
  "campaign_id",
  "campaign_category",
  "campaign_type",
  "platform",
  "campaign_deatil",
  "cost",
  "impressions",
  "clicks",
  "days_run",
  "num_signups",
  "signup_rate",
  "cost_per_signup",
  "click_through_rate",
  "cost_per_click"
)
FROM '/Users/tshmacm1171/Desktop/Health_Insurance/campaigns.csv'
DELIMITER ','
CSV HEADER

 * postgresql://postgres:***@localhost:5432/health_insurance
(psycopg2.errors.BadCopyFileFormat) extra data after last expected column
CONTEXT:  COPY Main_Campaigns, line 2: "CAM001,Tailored Health Plans,Covid Awareness,SEO,Tailored Health Plans - Covid Awareness - SEO,45,13..."

[SQL: Copy "Main_Campaigns" (
  "campaign_id",
  "campaign_category",
  "campaign_type",
  "cost",
  "platform",
  "impressions",
  "clicks",
  "days_run",
  "num_signups",
  "signup_rate",
  "cost_per_signup",
  "click_through_rate",
  "cost_per_click"
)
FROM '/Users/tshmacm1171/Desktop/Health_Insurance/campaigns.csv'
DELIMITER ','
CSV HEADER]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [ ]:
%%sql
INSERT INTO "Campaign_category" ("campaign_category")
SELECT DISTINCT "campaign_category"
FROM "Main_Campaigns"
WHERE ("campaign_category") NOT IN (
  SELECT "campaign_category"
  FROM "Campaign_category"
);

In [ ]:
%%sql
INSERT INTO "Campaign_type" ("campaign_type")
SELECT DISTINCT "campaign_type"
FROM "Main_Campaigns"
WHERE ("campaign_type") NOT IN (
  SELECT "campaign_type"
  FROM "Campaign_type"
);

In [ ]:
%%sql
INSERT INTO "Campaign_map" ("campaign_category_id", "campaign_type_id")
SELECT cc."campaign_category", ct."campaign_type"
FROM "Main_Campaigns" c
JOIN 
    "Campaign_category" cc ON c."campaign_category" = cc."campaign_category"
JOIN 
    "Campaign_type" ct ON c."campaign_type" = ct."campaign_type"
WHERE 
    (cc."campaign_category_id", ct."campaign_type_id") NOT IN (
        SELECT "campaign_caregory_id", "campaign_type_id"
        FROM "Campaign_map"
    );

In [ ]:
%%sql
INSERT INTO "Platform" ("platform")
SELECT DISTINCT "platform"
FROM "Main_Campaigns"
WHERE ("platform") NOT IN (
    SELECT "platform"
    FROM "Platform"
);

In [ ]:
%%sql
INSERT INTO "Products" ("product_name")
SELECT DISTINCT "product_name"
FROM "Main_Claims"
WHERE ("product_name") NOT IN (
    SELECT "product_name"
    FROM "Products"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [ ]:
%%sql

INSERT INTO "Purchase_page" ("purchase_page_ref")
SELECT DISTINCT "purchase_page_ref"
FROM "Main_Claims"
WHERE ("purchase_page_ref") NOT IN (
    SELECT "purchase_page_ref"
    FROM "Purchase_page"
)

In [ ]:
%%sql
INSERT INTO "State" ("state")
SELECT DISTINCT "state"
FROM "Main_Customers"
WHERE "state" NOT IN (
    SELECT "state"
    FROM "State"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [ ]:
%%sql
INSERT INTO "First_touch" ("first_touch")
SELECT DISTINCT "first_touch"
FROM "Main_Customers"
WHERE "first_touch" NOT IN (
    SELECT "first_touch"
    FROM "First_touch"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [ ]:
%%sql
INSERT INTO "Plan" ("plan")
SELECT DISTINCT "plan"
FROM "Main_Customers"
WHERE "plan" NOT IN (
    SELECT "plan"
    FROM "Plan"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [ ]:
%%sql

INSERT INTO "Signup_channel_category" ("signup_channel_category")
SELECT DISTINCT "signup_channel_category"
FROM "Main_Customers"
WHERE "signup_channel_category" NOT IN (
    SELECT "signup_channel_category"
    FROM "Signup_channel_category"
);

In [ ]:
%%sql

INSERT INTO "Signup_channel" ("signup_channel", "signup_channel_category_id")
SELECT DISTINCT 
    c."signup_channel", 
    scc."signup_channel_category_id"
FROM 
    "Main_Customers" c
JOIN 
    "Signup_channel_category" scc ON c."signup_channel_category" = scc."signup_channel_category"
WHERE 
    c."signup_channel" IS NOT NULL
AND (c."signup_channel", scc."signup_channel_category_id") NOT IN (
    SELECT "signup_channel", "signup_channel_category_id"
    FROM "Signup_channel"
);

In [ ]:
%%sql

INSERT INTO "Campaigns" (
    "campaign_id", "cost", "impressions", "clicks", "days_run", 
    "campaign_category_id", "platform_id", "num_signups", "signup_rate", 
    "cost_per_signup", "click_through_rate", "cost_per_click"
)
SELECT DISTINCT 
    "campaign_id", "cost", "impressions", "clicks", "days_run", 
    "campaign_category_id", "platform_id", "num_signups", "signup_rate", 
    "cost_per_signup", "click_through_rate", "cost_per_click"
FROM "Main_Campaigns"
WHERE "campaign_id" NOT IN (
    SELECT "campaign_id"
    FROM "Campaigns"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [ ]:
%%sql

INSERT INTO "Customers" (
    "customer_id", "first_name", "last_name", "signup_date", 
    "campaign_id", "state_id", "first_touch_id", "plan_id", 
    "signup_channel_id"
)
SELECT DISTINCT 
    "customer_id", "first_name", "last_name", "signup_date", 
    "campaign_id", "state_id", "first_touch_id", "plan_id", 
    "signup_channel_id"
FROM "Main_Customers"
WHERE "customer_id" NOT IN (
    SELECT "customer_id"
    FROM "Customers"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]

In [ ]:
%%sql

INSERT INTO "Claims" (
    "claim_id", "claim_date", "claim_amount", "covered_amount", 
    "product_id", "purchase_page_id", "customer_id"
)
SELECT DISTINCT 
    "claim_id", "claim_date", "claim_amount", "covered_amount", 
    "product_id", "purchase_page_id", "customer_id"
FROM "Main_Claims"
WHERE "claim_id" NOT IN (
    SELECT "claim_id"
    FROM "Claims"
);

 * postgresql://postgres:***@localhost:5432/accident_analysis
0 rows affected.

[]