In [1]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [2]:
import pandas as pd

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:health_insurance@localhost:5432/health_insurance')

# Campaigns Performance

In [4]:
campaigns = pd.read_sql('SELECT * FROM "Campaigns"', engine)
customers = pd.read_sql('SELECT * FROM "Customers"', engine)
campaign_category = pd.read_sql('SELECT * FROM "Campaign_category"', engine)

merged_df1 = pd.merge(campaigns, customers, on="campaign_id", how="inner")
merged_df2 = pd.merge(campaigns, campaign_category, on="campaign_category_id", how="inner")
merged_df3 = pd.merge(merged_df1,merged_df2, on='campaign_id', how='inner')
result_df = (
    merged_df3.groupby("campaign_category")
    .agg(number_of_signups=("campaign_id", 'count'))
    .reset_index()
)
result_df = result_df.sort_values(by="number_of_signups", ascending= False)

result_df.head(11)

          campaign_category  number_of_signups
1            #HealthyLiving               3727
8            Health For All               3545
0          #CoverageMatters               3536
5   Compare Health Coverage               2820
11    Tailored Health Plans               1107
9      Preventive Care News                643
2         #InsureYourHealth                316
6      Family Coverage Plan                301
10     Summer Wellness Tips                163
3          Affordable Plans                 63
4           Benefit Updates                 45

In [5]:
campaigns = pd.read_sql('SELECT * FROM "Campaigns"', engine)
customers = pd.read_sql('SELECT * FROM "Customers"', engine)
campaign_category = pd.read_sql('SELECT * FROM "Campaign_category"', engine)

merged_df1 = pd.merge(campaigns, customers, on="campaign_id", how="inner")
merged_df2 = pd.merge(campaigns, campaign_category, on="campaign_category_id", how="inner")
merged_df3 = pd.merge(merged_df1, merged_df2, on='campaign_id', how='inner')

result_df = (
    merged_df3.groupby("campaign_category")
    .agg(number_of_signups=("campaign_id", 'count'),
         avgerage_number_of_signups=("num_signups_x", "mean"),
         avgerage_cost_per_signups=("cost_per_signup_x", "mean"),
         avgerage_signups_rate=("signup_rate_x", "mean"))
    .reset_index()
)
result_df.sort_values(by = "number_of_signups", ascending=False)

result_df.head(11)

,campaign_category,number_of_signups,avgerage_number_of_signups,avgerage_cost_per_signups,avgerage_signups_rate
0,#CoverageMatters,3536,3532.001697,0.653657,0.009426
1,#HealthyLiving,3727,2271.804400,1.250949,0.018810
2,#InsureYourHealth,316,200.025316,11.852499,0.000541
3,Affordable Plans,63,43.571429,17.788990,0.000214
4,Benefit Updates,45,27.400000,47.806806,0.000294
5,Compare Health Coverage,2820,1422.214894,1.410070,0.014128
6,Family Coverage Plan,301,181.757475,13.077784,0.000410
7,Golden Years Security,23,21.086957,124.053222,0.000105
8,Health For All,3545,3052.918759,0.572983,0.034998
9,Preventive Care News,643,537.531882,5.896974,0.001261
10,Summer Wellness Tips,163,159.049080,10.310579,0.000548

In [ ]:
campaigns = pd.read_sql('SELECT * FROM "Campaigns"', engine)
customers = pd.read_sql('SELECT * FROM "Customers"', engine)
campaign_category = pd.read_sql('SELECT * FROM "Campaign_category"', engine)
plan = pd.read_sql('SELECT * FROM "Plan"', engine)

merged_df1 = pd.merge(campaigns, customers, on="campaign_id", how="inner")
merged_df2 = pd.merge(campaigns, campaign_category, on="campaign_category_id", how="inner")
merged_df4 = pd.merge(merged_df1, merged_df2, on='campaign_id', how='inner')
merged_df5 = pd.merge(merged_df4, plan, on = "plan_id")
# merged_df5.head()

result_df = (
    merged_df5.groupby(["campaign_category", "plan"])
    .agg(number_of_signups=("campaign_id", 'count'),
         avgerage_number_of_signups=("num_signups_x", "mean"),
         avgerage_cost_per_signups=("cost_per_signup_x", "mean"),
         avgerage_signups_rate=("signup_rate_x", "mean"))
    .reset_index()
)
result_df.sort_values(by = "plan")

result_df.head(11)

,campaign_category,plan,number_of_signups,avgerage_number_of_signups,avgerage_cost_per_signups,avgerage_signups_rate
0,#CoverageMatters,bronze,46,3534.000000,0.228189,0.009431
1,#CoverageMatters,gold,885,3534.000000,0.228189,0.009431
2,#CoverageMatters,platinum,4,3534.000000,0.228189,0.009431
3,#CoverageMatters,silver,2601,3531.283353,0.806603,0.009424
4,#HealthyLiving,bronze,54,1922.629630,1.135755,0.014326
5,#HealthyLiving,gold,222,2168.297297,0.944358,0.017456
6,#HealthyLiving,platinum,2,971.000000,1.877161,0.002200
7,#HealthyLiving,silver,3449,2284.688026,1.272123,0.018977
8,#InsureYourHealth,bronze,2,24.000000,47.263200,0.000083
9,#InsureYourHealth,gold,11,112.727273,28.782437,0.000336
10,#InsureYourHealth,silver,303,204.356436,11.004146,0.000552

In [7]:
query= '''SELECT 
    c."campaign_id", 
    cc."campaign_category", 
    count(cu."campaign_id") as number_of_signups, 
    avg("num_signups") as average_number_of_signups, 
    avg("cost_per_signup") as average_cost_per_signup, 
    avg("signup_rate") as average_signup_rate, p."platform"
FROM 
    "Campaigns" c
JOIN 
    "Campaign_category" cc ON cc."campaign_category_id" = c."campaign_category_id"
JOIN 
    "Customers" cu ON cu."campaign_id" = c."campaign_id"
JOIN 
    "Platform" p ON p."platform_id" = c."platform_id"
GROUP BY 
    c."campaign_id", cc."campaign_category", p."platform"
ORDER BY 
    p."platform"
Limit 5;'''

pd.read_sql(query, engine)

,campaign_id,campaign_category,number_of_signups,average_number_of_signups,average_cost_per_signup,average_signup_rate,platform
0,CAM002,Preventive Care News,586,586.0,2.772086,0.001369,Email
1,CAM027,Benefit Updates,12,12.0,120.048852,0.000077,Email
2,CAM024,Benefit Updates,33,33.0,21.536971,0.000373,Email
3,CAM015,Summer Wellness Tips,2,2.0,777.788781,0.000009,Email
4,CAM008,Preventive Care News,11,11.0,20.280509,0.000033,Email

In [ ]:
# campaigns = pd.read_sql('SELECT * FROM "Campaigns"', engine)
# customers = pd.read_sql('SELECT * FROM "Customers"', engine)
# campaign_category = pd.read_sql('SELECT * FROM "Campaign_category"', engine)
# platform = pd.read_sql('SELECT * FROM "Platform"', engine)

merged_df1 = pd.merge(campaigns, customers, on="campaign_id")
merged_df2 = pd.merge(merged_df1, campaign_category, on="campaign_category_id")
merged_df3 = pd.merge(merged_df2, platform, on= "platform_id")
merged_df3.head()
# merged_df3 = pd.merge(merged_df1, merged_df2, left_on='campaign_id_x', right_on = 'campaign_id_y')
# merged_df4 = pd.merge(merged_df3, platform, left_on= "platform_id_y", right_on= "platform_id")
# merged_df4.head()

# result_df = (
#     merged_df4.groupby(["campaign_category", "platform"])
#     .agg(number_of_signups=("campaign_id", 'count'),
#          avgerage_number_of_signups=("num_signups_x", "mean"),
#          avgerage_cost_per_signups=("cost_per_signup_x", "mean"),
#          avgerage_signups_rate=("signup_rate_x", "mean"))
#     .reset_index()
# )
# result_df.sort_values(by = "plan")

# result_df.head(11)

,campaign_id,cost,impressions,clicks,days_run,campaign_category_id,campaign_detail_id,platform_id,num_signups,signup_rate,...,customer_id,first_name,last_name,signup_date,state_id,first_touch_id,plan_id,signup_channel_id,campaign_category,platform
0,CAM009,394.641083,480790,34210.0,38,2,42,3,114.0,0.000237,...,c2880,Flora,Elliott,2021-01-22,3,2,3,15,Tailored Health Plans,SEO
1,CAM009,394.641083,480790,34210.0,38,2,42,3,114.0,0.000237,...,c7234,James,Imhoff,2019-06-03,29,4,3,15,Tailored Health Plans,SEO
2,CAM009,394.641083,480790,34210.0,38,2,42,3,114.0,0.000237,...,c6088,Dawn,Gibson,2022-06-26,2,1,3,15,Tailored Health Plans,SEO
3,CAM009,394.641083,480790,34210.0,38,2,42,3,114.0,0.000237,...,c833,Emilia,Purnell,2020-04-14,29,4,3,15,Tailored Health Plans,SEO
4,CAM009,394.641083,480790,34210.0,38,2,42,3,114.0,0.000237,...,c7098,Charles,Cochran,2019-04-09,29,2,3,13,Tailored Health Plans,SEO

In [ ]:
query= '''SELECT 
    cc."campaign_category", 
    count(cu."campaign_id") as number_of_signups, 
    avg("num_signups") as average_number_of_signups, 
    avg("cost_per_signup") as average_cost_per_signup, 
    avg("signup_rate") as average_signup_rate, s.state
FROM 
    "Campaigns" c
JOIN 
    "Campaign_category" cc ON cc."campaign_category_id" = c."campaign_category_id"
JOIN
    "Customers" cu ON cu."campaign_id" = c."campaign_id"
JOIN 
    "State" s ON s."state_id" = cu."state_id"
GROUP BY 
    cc."campaign_category", s."state_id"
ORDER BY
    s."state_id"
Limit 5; '''

pd.read_sql(query, engine)

,campaign_category,number_of_signups,average_number_of_signups,average_cost_per_signup,average_signup_rate,state
0,#CoverageMatters,11,3534.000000,0.228189,0.009431,NV
1,#HealthyLiving,21,2152.333333,0.956795,0.017253,NV
2,#InsureYourHealth,3,105.333333,30.322501,0.000315,NV
3,Compare Health Coverage,12,1341.250000,0.958078,0.013326,NV
4,Family Coverage Plan,3,228.000000,3.515162,0.000504,NV

In [ ]:
query= '''SELECT 
    c."campaign_id",
    pc."campaign_category",
    AVG("days_to_first_claim") AS avg_days_to_claim,
    p."product_category",
    pp."purchase_page_category",
    COUNT(cl."claim_id") AS num_claims
FROM 
    "Claims" cl
JOIN 
    "Customers" cu ON cl."customer_id" = cu."customer_id"
JOIN 
    "Campaigns" c ON cu."campaign_id" = c."campaign_id"
JOIN 
    "Campaign_category" pc ON c."campaign_category_id" = pc."campaign_category_id"
JOIN 
    "Products" p ON cl."product_id" = p."product_id"
JOIN 
    "Purchase_page" pp ON cl."purchase_page_id" = pp."purphase_page_id"
GROUP BY 
    c."campaign_id",
    pc."campaign_category", 
    p."product_category", 
    pp."purchase_page_category"
ORDER BY 
    pc."campaign_category",
    num_claims DESC
Limit 5; '''

pd.read_sql(query, engine)

,campaign_id,campaign_category,avg_days_to_claim,product_category,purchase_page_category,num_claims
0,CAM031,#CoverageMatters,8.935363,Daily Nutrition,Marketing or Trial Pages,3481
1,CAM031,#CoverageMatters,9.618022,"Hair, Skin, and Nail Health",Marketing or Trial Pages,2275
2,CAM031,#CoverageMatters,7.201320,"Hair, Skin, and Nail Health",Product or Service Pages,1515
3,CAM031,#CoverageMatters,7.670886,Daily Nutrition,Product or Service Pages,1264
4,CAM031,#CoverageMatters,7.266150,Daily Nutrition,Informational Pages,1161

In [ ]:
query= '''SELECT 
    EXTRACT(YEAR FROM cu."signup_date") AS signup_year,
    c."campaign_id",
    ca."campaign_category",
    p."platform",
    SUM(c."cost") AS total_cost,
    SUM(c."num_signups") AS total_signups,
    AVG(c."cost_per_signup") AS avg_cost_per_signup,
    AVG(c."cost_per_click") AS avg_cost_per_click,
    SUM(c."impressions") AS total_impressions,
    SUM(c."clicks") AS total_clicks,
    AVG(c."click_through_rate") AS avg_click_through_rate,
    AVG(c."signup_rate") AS avg_signup_rate
FROM 
    "Campaigns" c
JOIN 
    "Customers" cu ON c."campaign_id" = cu."campaign_id"
JOIN 
    "Campaign_category" ca ON c."campaign_category_id" = ca."campaign_category_id"
JOIN 
    "Platform" p ON c."platform_id" = p."platform_id"
GROUP BY 
    EXTRACT(YEAR FROM cu."signup_date"), c."campaign_id", ca."campaign_category", p."platform"
ORDER BY 
    signup_year DESC
Limit 10; '''

pd.read_sql(query, engine)

,signup_year,campaign_id,campaign_category,platform,total_cost,total_signups,avg_cost_per_signup,avg_cost_per_click,total_impressions,total_clicks,avg_click_through_rate,avg_signup_rate
0,2023.0,CAM001,Tailored Health Plans,SEO,109516.476288,79130.0,1.384007,0.065118,23884140,1681820.0,0.070416,0.003313
1,2023.0,CAM002,Preventive Care News,Email,64977.698560,23440.0,2.772086,0.034322,17124000,1893200.0,0.110558,0.001369
2,2023.0,CAM003,Preventive Care News,Email,3888.452016,92.0,42.265783,0.052561,520560,73980.0,0.142116,0.000177
3,2023.0,CAM004,Compare Health Coverage,SEO,31163.555278,35558.0,0.876415,0.031926,2315870,976120.0,0.421492,0.015354
4,2023.0,CAM006,Compare Health Coverage,SEO,99088.604270,100567.0,0.985299,0.056806,7949770,1744320.0,0.219418,0.012650
5,2023.0,CAM009,Tailored Health Plans,SEO,2367.846499,684.0,3.461764,0.011536,2884740,205260.0,0.071154,0.000237
6,2023.0,CAM010,Affordable Plans,SEO,820.580377,51.0,16.089811,0.065857,221170,12460.0,0.056337,0.000231
7,2023.0,CAM014,Summer Wellness Tips,Email,125.046745,161.0,0.776688,0.002839,290300,44040.0,0.151705,0.000555
8,2023.0,CAM017,Tailored Health Plans,SEO,1089.283035,27.0,40.343816,0.046610,451840,23370.0,0.051722,0.000060
9,2023.0,CAM018,Health For All,Email,191997.707022,531198.0,0.361443,0.027275,14291640,7039386.0,0.492553,0.037168

# Brand Awareness

In [ ]:
query= '''SELECT 
    ca."campaign_category",
    SUM(c."impressions") AS total_impressions
FROM 
    "Campaigns" c
JOIN 
    "Campaign_category" ca ON c."campaign_category_id" = ca."campaign_category_id"
GROUP BY 
    ca."campaign_category"
ORDER BY 
    total_impressions DESC; '''

pd.read_sql(query, engine)

          campaign_category  total_impressions
0     Tailored Health Plans            1398859
1            #HealthyLiving            1372448
2      Preventive Care News            1116968
3      Family Coverage Plan            1106540
4         #InsureYourHealth             970244
5          #CoverageMatters             712100
6   Compare Health Coverage             664710
7      Summer Wellness Tips             573010
8     Golden Years Security             422930
9          Affordable Plans             327507
10          Benefit Updates             244280
11           Health For All             170559

In [ ]:
query= '''SELECT "campaign_id", sum("impressions") as total
FROM "Campaigns"
group by "campaign_id"
Order By total DESC
Limit 5; '''

pd.read_sql(query, engine)

  campaign_id   total
0      CAM007  482520
1      CAM009  480790
2      CAM032  452680
3      CAM017  451840
4      CAM021  449340

In [ ]:
query= '''SELECT 
    c."campaign_id",
    ca."campaign_category",
    p."platform",
    SUM(c."impressions") AS total_impressions,
    SUM(c."clicks") AS total_clicks,
    SUM(c."num_signups") AS total_signups,
    AVG(c."signup_rate") AS avg_signup_rate,
    AVG(c."click_through_rate") AS avg_click_through_rate,
    COUNT(DISTINCT cu."customer_id") AS distinct_customers
FROM 
    "Campaigns" c
JOIN 
    "Campaign_category" ca ON c."campaign_category_id" = ca."campaign_category_id"
JOIN 
    "Platform" p ON c."platform_id" = p."platform_id"
JOIN 
    "Customers" cu ON c."campaign_id" = cu."campaign_id"
GROUP BY 
    c."campaign_id", ca."campaign_category", p."platform"
ORDER BY 
    total_impressions DESC
Limit 5; '''

pd.read_sql(query, engine)

,campaign_id,campaign_category,platform,total_impressions,total_clicks,total_signups,avg_signup_rate,avg_click_through_rate,distinct_customers
0,CAM031,#CoverageMatters,Social Media,1324225140,104765430.0,12489156.0,0.009431,0.079115,3534
1,CAM020,#HealthyLiving,Social Media,428482880,29630065.0,942841.0,0.002200,0.069151,971
2,CAM030,#HealthyLiving,Social Media,303650100,35768720.0,7524049.0,0.024779,0.117796,2743
3,CAM018,Health For All,Email,289273380,142482387.0,10751841.0,0.037168,0.492553,3279
4,CAM001,Tailored Health Plans,SEO,281075550,19792150.0,931225.0,0.003313,0.070416,965

In [ ]:
query= '''SELECT 
    c."campaign_id",
    ca."campaign_category",
    p."platform",
    SUM(c."cost") AS total_cost,
    SUM(c."num_signups") AS total_signups,
    AVG(c."cost_per_signup") AS avg_cost_per_signup,
    AVG(c."cost_per_click") AS avg_cost_per_click
FROM 
    "Campaigns" c
JOIN 
    "Campaign_category" ca ON c."campaign_category_id" = ca."campaign_category_id"
JOIN 
    "Platform" p ON c."platform_id" = p."platform_id"
GROUP BY 
    c."campaign_id", ca."campaign_category", p."platform"
ORDER BY 
    total_cost
Limit 10; '''

pd.read_sql(query, engine)

,campaign_id,campaign_category,platform,total_cost,total_signups,avg_cost_per_signup,avg_cost_per_click
0,CAM014,Summer Wellness Tips,Email,125.046745,161.0,0.776688,0.002839
1,CAM008,Preventive Care News,Email,223.085599,11.0,20.280509,0.005290
2,CAM042,#InsureYourHealth,Social Media,225.462663,0.0,0.000000,0.168319
3,CAM012,#CoverageMatters,Social Media,244.008996,1.0,244.008996,0.040600
4,CAM028,Affordable Plans,SEO,300.126002,12.0,25.010500,0.010802
5,CAM036,Golden Years Security,TV,301.467866,0.0,0.000000,0.000000
6,CAM023,#HealthyLiving,Social Media,303.769053,11.0,27.615368,0.007907
7,CAM055,Summer Wellness Tips,Email,322.922808,0.0,0.000000,0.071191
8,CAM053,Golden Years Security,TV,338.275359,0.0,0.000000,0.000000
9,CAM056,Preventive Care News,Email,359.111694,0.0,0.000000,0.155023

In [ ]:
query= '''SELECT 
    st."state", 
    SUM(c."impressions") AS total_impressions,
    SUM(c."clicks") AS total_clicks,
    AVG(c."click_through_rate") AS avg_click_through_rate,
    AVG(c."signup_rate") AS avg_signup_rate
FROM 
    "Campaigns" c
JOIN 
    "Customers" cu ON c."campaign_id" = cu."campaign_id"
JOIN 
    "State" st ON cu."state_id" = st."state_id"
GROUP BY 
    st."state"
ORDER BY 
    total_impressions DESC

Limit 10; '''

pd.read_sql(query, engine)

,state,total_impressions,total_clicks,avg_click_through_rate,avg_signup_rate
0,NJ,1745341316,242757595.0,0.217037,0.016559
1,NY,302019982,38653133.0,0.203967,0.015861
2,ND,180485324,23575922.0,0.206754,0.016589
3,IA,176735374,23473472.0,0.208356,0.015787
4,GA,128271306,16015284.0,0.194586,0.016556
5,WA,125146782,15830228.0,0.197396,0.017500
6,SC,112225382,13258058.0,0.179481,0.017451
7,CO,99590870,12592207.0,0.203264,0.017110
8,NC,87185658,12424400.0,0.227946,0.019501
9,OH,69876716,9206341.0,0.205707,0.017342

In [ ]:
query= '''SELECT 
    EXTRACT(YEAR FROM cu."signup_date") AS signup_year,
    SUM(c."impressions") AS total_impressions,
    SUM(c."clicks") AS total_clicks,
    SUM(c."num_signups") AS total_signups,
    AVG(c."click_through_rate") AS avg_click_through_rate,
    AVG(c."signup_rate") AS avg_signup_rate,
    AVG(c."cost_per_signup") AS avg_cost_per_signup,
    AVG(c."cost_per_click") AS avg_cost_per_click
FROM 
    "Campaigns" c
JOIN 
    "Customers" cu ON c."campaign_id" = cu."campaign_id"
GROUP BY 
    EXTRACT(YEAR FROM cu."signup_date")
ORDER BY 
    signup_year DESC; '''

pd.read_sql(query, engine)

,signup_year,total_impressions,total_clicks,total_signups,avg_click_through_rate,avg_signup_rate,avg_cost_per_signup,avg_cost_per_click
0,2023.0,202626866,24462526.0,1968255.0,0.185864,0.016253,1.243416,0.053836
1,2022.0,614494528,89140948.0,6232647.0,0.226067,0.016192,1.801405,0.048661
2,2021.0,1069308814,153226497.0,10268182.0,0.225854,0.015478,2.235953,0.044494
3,2020.0,1148465246,145292582.0,12383642.0,0.196316,0.017075,2.719501,0.047609
4,2019.0,530157048,66021997.0,6375579.0,0.200254,0.019004,1.707844,0.047678